


body {
  background-color: #000000;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

h1{
  background-image: repeating-linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red, violet);
  text-align: center;
  background-size: 800% 800%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
  animation: rainbow 8s ease infinite;
}
@keyframes rainbow {
    0%{background-position:0% 50%}
    50%{background-position:100% 25%}
    100%{background-position:0% 50%}
}
.warning {
  color: white;
  position: absolute;
  bottom: 5px;
  text-align: center;
}
/* Give the player a height & width of 0. Otherwise the player is visible on mobile devices (tested on iPhone 5). */
